.container {
  background-color: "blue" !important;
}
.new {
  color: "blue" !important;
  background-color: "blue" !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #6149cd !important;

  font-weight: 500;
}

.ant-tabs-ink-bar {
  background: #6149cd !important;
  position: absolute !important;
  pointer-events: none !important;
  height: 5px !important;
}
