#viewBack {
  background-color: "blue" !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: red !important;
  text-shadow: 0 0 0.25px currentcolor !important;
}
.tabs {
  font-size: 14px !important;
  font-weight: 700 !important;
  text-align: center !important;
  text-shadow: 0 0 0.25px currentcolor !important;
  color: #7a86a1 !important;
}
