.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
.btn {
  border: 0 !important;
  border-radius: 200 !important;
}
.btn-lg {
}
a {
  color: rgb(105, 74, 201) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  text-decoration: none !important;
}
.form-label {
  margin-bottom: 0 !important;
}
.row {
  --bs-gutter-y: 0 !important;
  --bs-gutter-x: 0 !important;
}

#person-view {
  flex-direction: column !important;
  height: -webkit-fill-available !important;
  margin-bottom: 100px !important;
}
/* 
@media (min-width: 576px) .col-sm-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
} */

@media (max-width: 1398px) {
  
  #input-col-password {
    margin-left: 0 !important;
    flex: 1 !important;
    margin-top: 25px !important;
  }

  #input-password {
    width: -webkit-fill-available !important;
  }
  #input-col-email {
    flex: 1 !important;
  }

  #input-email {
    width: -webkit-fill-available !important;
  }

  #right-main-view {
    width: min-content !important;
  }
  #image-style {
    
    /* width: 1000px !important; */
  }

  #signIn-Div {
    flex-direction: column !important;
  }
  #signIn-row {
    margin-top: 20px !important;
  }
}
@media (max-width: 200px) and (max-width: 600px) {
  #social-button-row-desktop {
    /* flex: 1 !important; */
  }
  #social-button-col-google {
    /* flex: 0.5 !important; */
  }
  #social-button-col-fb {
    /* flex: 0.5 !important; */
  }
}

@media (max-width: 600px) and (max-width: 1144px) {
  #social-button-col-fb {
    margin-bottom: 0px;
  }
  #social-text {
    font-size: 12px !important;
    display: block !important;
  }
  #social-button-button-google {
    width: 90% !important;
    margin-right: 10px !important;
  }
  body {
    overflow-x: auto !important;
    overflow-y: auto !important;
  }
  #border-line {
    margin-top: 10px !important;
  }
  #social-button-button-fb {
    margin-right: 10px !important;
    width: 90% !important;
  }
}
@media screen and (max-width: 600px), screen and (max-height: 679px) {
  @media (max-width: 1148px) {
    #image-style {
      /* display: flex !important; */
    }
  }
  #image-style {
    /* display: none !important; */
  }
}

@media (max-width: 1145px) and (max-width: 1520px) {
  #sign-text {
    /* display: none; */
  }
  #time-to-text {
    display: none !important;
  }
  #right-view {
    width: 100% !important;
    padding-left: 0vw !important;
    padding-bottom: 150px !important;
  }
  #person-view {
    height: auto !important;
    margin-bottom: 0px !important;
    margin-top: 20px !important;
    align-items: center !important;
  }
  #image-style {
    /* width: 200px !important; */
  }
  #gradient-view {
    height: 18vh !important;
  }
  #logo-image {
    top: 20px !important;
    width: 50px !important;
  }

  #logo-view {
    /* height: 50vw !important; */
    padding-left: 0 !important;
    place-content: center !important;
    align-content: "flex-start" !important;
    align-items: "flex-start" !important;
    justify-content: "flex-start" !important;
    place-content: "flex-start" !important;
  }
  #left-view {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

@media (max-width: 1520px) {
}
@media (max-width: 600px) {
  #image-style {
    /* height: 500px !important; */
    display: "flex" !important;
    justify-content: "center" !important;
    align-items: "center" !important;
    /* height: "100vh" !important; */
  }
  body {
    overflow-x: auto;
    overflow-y: auto;
  }

  #logo-view {
    /* height: 50vw !important; */
    place-content: center !important;
    align-content: "flex-start" !important;
    align-items: "flex-start" !important;
    justify-content: "flex-start" !important;
    place-content: "flex-start" !important;
  }
  #person-view {
    /* left: 0;
    right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative !important; */
    /* height: 100vh; */
    /* display: flex !important; */
    /* align-self: center; */
    /* place-content: center !important;
    height: 0 !important; */

    /* align-items: center;
    /* width: 100px;  */
    /* Need a specific value to work */
  }

  #person-style {
    /* width: 25vh !important; */
  }
}
