.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
body {
  overflow-x: auto;
  overflow-y: auto;
}
.btn {
  border: 0 !important;
  border-radius: 200 !important;
}
.btn-lg {
}
a {
  color: rgb(105, 74, 201) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  text-decoration: none !important;
}
.form-label {
  margin-bottom: 0 !important;
}
.row {
  --bs-gutter-y: 0 !important;
  --bs-gutter-x: 0 !important;
}
