.additional-registration {
  background-color: "red" !important;
}
.additional-registration text {
  background-color: "red" !important;
}
.ant-steps-item-process .ant-steps-item-icon {
  background-color: #6149cd !important;
  border-color: #6149cd !important;
}
.anticon svg {
  display: inline-block;
  vertical-align: initial !important;
}
.form-control {
  padding-left: 15px !important;
  font-size: 13px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute !important;
  left: 10 !important;
}

input::-webkit-datetime-edit {
  position: relative !important;
  left: 15px !important;
}

.dropdown {
  border: 1px solid #ced4da !important;
  border-radius: 200px !important;
  color: #7a86a1 !important;
  font-size: 12px;
}
.dropdown-toggle {
  font-size: 14px !important;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative !important;
  left: 15px !important;
}
.css-13cymwt-control {
  border-radius: 100px !important;
  border: 1px solid #ced4da !important;
  min-height: 45px !important;

}
.css-qbdosj-Input {
  padding-left: 120px !important;
}

.ant-steps-item-title {
  padding-inline-end: 30px !important;
}