.additional-registration {
  background-color: "red" !important;
}
.additional-registration text {
  background-color: "red" !important;
}
.ant-steps-item-process .ant-steps-item-icon {
  background-color: #6149cd !important;
  border-color: #6149cd !important;
}
