.ant-tabs-ink-bar {
  background: #6149cd !important;
  position: absolute !important;
  pointer-events: none !important;
  height: 5px !important;
}
.dropdown {
  border: 0px solid red !important;
}

.dropdownCustom {
  background-color: transparent !important;
  color: black !important;
}
